input {
  file {
    path => "/statements/*"
  }
}
filter {
  csv {
    columns => [ "date","transaction_type","description","paid_in","paid_out","balance" ]
    add_field => { "type" => "transaction" }
  }
  date {
    match => [ "date", "d MMM YYYY" ]
  }

  # PAID IN
  grok {
    match => { "paid_in" => "-" }
    add_field => { "paid_in_tmp" => "0"}
    add_tag => [ "paid_in_parsed" ]
  } if "paid_in_parsed" not in [tags] { grok {
      match => { "paid_in" => "%{NUMBER:paid_in3},%{NUMBER:paid_in2},%{NUMBER:paid_in1}" }
      add_field => { "paid_in_tmp" => "%{paid_in3}%{paid_in2}%{paid_in1}" }
      add_tag => [ "paid_in_parsed" ]
  } } if "paid_in_parsed" not in [tags] { grok {
      match => { "paid_in" => "%{NUMBER:paid_in2},%{NUMBER:paid_in1}" }
      add_field => { "paid_in_tmp" => "%{paid_in2}%{paid_in1}" }
      add_tag => [ "paid_in_parsed" ]
  } } if "paid_in_parsed" not in [tags] { grok {
      match => { "paid_in" => "%{NUMBER:paid_in1}" }
      add_field => { "paid_in_tmp" => "%{paid_in1}" }
      add_tag => [ "paid_in_parsed" ]
    }
  }
  mutate {
    remove_field => [ "paid_in" ]
  } mutate {
    add_field => { "paid_in" => "%{paid_in_tmp}" }
  } mutate {
    remove_field => [ "paid_in3", "paid_in2", "paid_in1", "paid_in_tmp" ]
    convert => { "paid_in" => "float" }
  }

  # PAID OUT
  grok {
    match => { "paid_out" => "-" }
    add_field => { "paid_out_tmp" => "0"}
    add_tag => [ "paid_out_parsed" ]
  } if "paid_out_parsed" not in [tags] { grok {
      match => { "paid_out" => "%{NUMBER:paid_out3},%{NUMBER:paid_out2},%{NUMBER:paid_out1}" }
      add_field => { "paid_out_tmp" => "%{paid_out3}%{paid_out2}%{paid_out1}" }
      add_tag => [ "paid_out_parsed" ]
  } } if "paid_out_parsed" not in [tags] { grok {
      match => { "paid_out" => "%{NUMBER:paid_out2},%{NUMBER:paid_out1}" }
      add_field => { "paid_out_tmp" => "%{paid_out2}%{paid_out1}" }
      add_tag => [ "paid_out_parsed" ]
  } } if "paid_out_parsed" not in [tags] { grok {
      match => { "paid_out" => "%{NUMBER:paid_out1}" }
      add_field => { "paid_out_tmp" => "%{paid_out1}" }
      add_tag => [ "paid_out_parsed" ]
    }
  }
  mutate {
    remove_field => [ "paid_out" ]
  } mutate {
    add_field => { "paid_out" => "%{paid_out_tmp}" }
    add_field => { "paid_out_neg" => "-%{paid_out_tmp}" }
  } mutate {
    remove_field => [ "paid_out3", "paid_out2", "paid_out1", "paid_out_tmp" ]
    convert => { "paid_out" => "float" }
    convert => { "paid_out_neg" => "float" }
  }

  # BALANCE
  grok {
    match => { "balance" => "-" }
    add_field => { "balance_tmp" => "0"}
    add_tag => [ "balance_parsed" ]
  } if "balance_parsed" not in [tags] { grok {
      match => { "balance" => "£%{NUMBER:balance3},%{NUMBER:balance2},%{NUMBER:balance1}" }
      add_field => { "balance_tmp" => "%{balance3}%{balance2}%{balance1}" }
      add_tag => [ "balance_parsed" ]
  } } if "balance_parsed" not in [tags] { grok {
      match => { "balance" => "£%{NUMBER:balance2},%{NUMBER:balance1}" }
      add_field => { "balance_tmp" => "%{balance2}%{balance1}" }
      add_tag => [ "balance_parsed" ]
  } } if "balance_parsed" not in [tags] { grok {
      match => { "balance" => "£%{NUMBER:balance1}" }
      add_field => { "balance_tmp" => "%{balance1}" }
      add_tag => [ "balance_parsed" ]
    }
  }
  mutate {
    remove_field => [ "balance" ]
  } mutate {
    add_field => { "balance" => "%{balance_tmp}" }
  } mutate {
    remove_field => [ "balance3", "balance2", "balance1", "balance_tmp" ]
    convert => { "balance" => "float" }
  }
}

output {
  elasticsearch {
    hosts => [ "elasticsearch:9200" ]
  }
}
