input {
  file {
    path => "/statements/*"
  }
}
filter {
  csv {
    columns => [ "date", "transaction_type", "description", "value", "balance", "account_name", "account_number" ]
    convert => {
      "value" => "float"
      "balance" => "float"
    }
    add_field => { "type" => "transaction" }
  }

  # timestamp and week_day
  date {
    match => [ "date", "dd/MM/YYYY" ]
  }
  ruby {
    code => "event.set('weekday', Date.parse(event.get('@timestamp').to_s()).wday)"
  }

  # significance
  ruby {
    code => "event.set('significance', (event.get('value') / (event.get('balance') - event.get('value'))) )"
  }
}

output {
  elasticsearch {
    hosts => [ "elasticsearch:9200" ]
    index => "transactions-%{+YYYY.MM}"
  }
}
